html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
html {
    overflow-y: scroll; 
    
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -20px;
}   

/* Set the fixed height of the footer here */
#push,
#footer {
height: 20px;
}
#footer {
background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
margin-left: -20px;
margin-right: -20px;
padding-left: 20px;
padding-right: 20px;
}
}


.h1-head {
    font-size: 90px;
    line-height: 90px;

}

.header-title {
    font-size: 120%;
    color: #fff;   
    text-shadow: 1px 0px 3px rgba(0,0,0,.7), -1px 0px 3px rgba(0,0,0,.7), 0px 1px 3px rgba(0,0,0,.7), 0px -1px 3px rgba(0,0,0,.7); 

    text-align: center; 
    /*margin: 0px 300px 0px  300px;*/
}
.navbar-inner {
}

#content{
margin-top:50px;
}

h1.page-title {
    margin-bottom: 20px;
}

h4.index { 
    text-align: center;
}

/*generic settings for pages*/
h1.top-title {
    
}

div.section {
    padding-top: 30px;
}

/*signup form*/
div.signup-form {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

div.signup-button {
    float:right;
    margin-top:2px;
}

.small-drop {
  min-width: 0px;
  width: 180px;
}

.tiny-drop {
  min-width: 0px;
  width: 60px;
}

span.PENDING { 
    color: #12F;
    font-weight:bold;
}
span.RUNNING { 
    color: #00A7FA;
    font-weight:bold;
}

span.CANCELLED { 
    color: #FFB812;
    font-weight:bold;
}

span.SUCCESS { 
    color: #1f2;   
    font-weight:bold;
}

span.ERROR { 
    color: #f12;   
    font-weight:bold;
}

.ng-dirty.ng-invalid { 
    border-color: #E9332D;
    box-shadow: 0 0 6px #F8B9B7;
}

.ng-pristine.ng-invalid { 
    border-color: rgb(192, 152, 83);
    box-shadow: 0 0 6px rgb(192, 152, 83);
}
form.ng-dirty.ng-invalid { 
    border-color: #FFFFFF;
    box-shadow: 0 0 0px #FFFFFF;
}
form.ng-pristine.ng-invalid { 
    border-color: #FFFFFF;
    box-shadow: 0 0 0px #FFFFFF;
}

/* Scheme Details */

.inline-h { 
  display: inline;
} 
div.pull-right { 
  float:right;
  padding-right:20px;
}

div#config-title {
  position:relative; 
  top: 30px;
  left: 50px;
  width:20px;
}

h1#config-title {
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: table-caption;
  background: teal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

div#config-list {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom:15px;
  background: teal;
  -moz-border-radius: 15px;
  border-radius: 15px;
  max-width: 30%;
}

div#plant-title {
  position:relative; 
  top: 30px;
  left: 50px;
  width:20px;
}

h1#plant-title {
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: table-caption;
  background: teal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

div#plant-list {
  padding-top: 30px;
  background: teal;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom:15px;
}
div.plant {
  padding-left: 20px;
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;

}

div.loci-list {
  background: orange;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-top: 10px;
  margin-right:20px;
 /*
  padding-bottom:15px;*/
}

div.loci-title {
  position:relative; 
  top: 22px;
  left: 40px;
  width:20px;
}

h4.loci-title {
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: table-caption;
  background: orange;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

table.loci-table tr td:first-child  { 
  padding-left: 10px;
}
table.loci-table tr td  { 
  border-top: 1px solid black; 
}
table.loci-table tr td input  { 
  margin-bottom: 0px;
}

table.loci-table tr td select  { 
  margin-bottom: 0px;
}

table.loci-table tr td button  { 
  margin-bottom: 4px;
}

div#cross-title {
  position:relative; 
  top: 30px;
  left: 50px;
  width:20px;
}

h1#cross-title {
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: table-caption;
  background: teal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

div#cross-list {
  padding-top: 30px;
  background: teal;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom:0px;
}

table.cross-table tr td:first-child,th:first-child  { 
  padding-left: 20px;
}
table.cross-table tr td  { 
  border-top: 1px solid black; 
}
table.cross-table tr td input  { 
  margin-bottom: 0px;
}

table.cross-table tr td select  { 
  margin-bottom: 0px;
}

table.cross-table tr td button  { 
  margin-top: 5px;
  margin-bottom: 12px;
}

div#chart-title {
  position:relative; 
  top: 30px;
  left: 50px;
  width:20px;
}

h1#chart-title {
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: table-caption;
  background: teal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

div#chart-list {
  padding-top: 30px;
  background: teal;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-bottom:15px;
}
div.chart {
  padding-left: 20px;
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;

}

div.chart-head {
  margin-bottom:5px;
}

div.chart-type {
  margin-bottom:5px;
}

div.chart-data {
  margin-bottom:5px;
}


