<!DOCTYPE html>
<html lang="end">

{% load i18n %}
{% load staticfiles %}
<head>

<title>
{% block title %}{{ title }}{% endblock %} | {% trans 'Crosser' %}
</title>


<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="{% static "crosser_frontend/site.css" %}" rel="stylesheet">
{% block extra_head %}{% endblock %}
</head>

<div id="wrap">

<div class="container">
{% block header %}

{% endblock %}

{% block nav-global %}
{# load current from tags#}
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="{%url 'index'%}">Crosser</a>
        <ul class="nav">
            <li id='home'> <a href="{%url 'index'%}">Home</a> </li>
        </ul>
        <div class="nav-collapse">
            <ul class="nav pull-right">
{% if user.is_authenticated %}
                <li><a href="{%url 'site-logout' %}">logout</a></li>
{% else %}
                <li><a href="{%url 'signup'%}">Sign Up</a></li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                        <form action={%url 'django.contrib.auth.views.login'%} method="post">
                        {%csrf_token%}
                        <input id="id_username" type="text" name="username" value=""/>
                        <input id="id_password" type="password" name="password" value=""/>
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                        <input type="hidden" name="next" value="/" />
                        </form>
                    </div>
                </li>
{% endif %}
            </ul>
        </div>
    </div>
</div>
</div><!--/navbar-->
{% endblock %}

{% block header-end %}

{% endblock %}

</div><!--/nav & header container-->

<div id="content" class="container">
{% block content %} {% endblock %}
</div><!--/page container -->

<div id='push'>
</div>
</div><!-- /#wrap -->

<div id='footer'>
    <div class='container'>
        <div class="span12 muted text-center ">
            © James Southern 2013
        </div>
    </div>
</div><!-- /#footer -->

{#js at end to speed loading#}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type='text/javascript'>

$(document).ready(function () {
    $("#{% block navid %}home{% endblock %}").addClass('active');
    $(function() {
        $('.dropdown-toggle').dropdown();
 
        $('.dropdown input, .dropdown label').click(function(e) {
           e.stopPropagation();
        });
    });

{%block js_ready %}

{% endblock %}

});

{% block js_code %}
{% endblock %}

</script>
</html>
