{% extends "crosser_frontend/base_site.html"%}

{% load staticfiles %}

{% block title %}
Calculations 
{% endblock %}

{% block extra_head %}
 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>

{% endblock %}

{% block content %}
<h1><a href="{%url 'scheme_detail' object.scheme.id%}">{{object.scheme.name}}</a> - V:{{object.version}}</h1>
<P>
Status: <span class="{{object.show_status}}">{{object.show_status}}</span>
</P>
<P>
Start Time: {{object.start_time}}
</P>
<P>
End Time: {{object.end_time}}
</P>
{% if object.show_status == "SUCCESS" %} 
<P>
Results: <a href="../../static/{{object.output_dir}}">directory</a> &amp; <a href="../../static/{{object.output_dir}}plots.pdf" >pdf</a> 
</P>
{% endif %}
<h3> debug: </h3>
<div>
<P>
Task Id: {{object.task_id}}
</P>
<P>
Raw JSON: <a href="{{object.backend_url}}"> link </a>
</P>
</div>
{% endblock %}
{% block navid%}Schemes{% endblock %}
{% block js_code%}
{#empty block to wipe out code, sign in dropdown code#} 
{% endblock %}
