{% extends "crosser_frontend/base_site.html"%}

{% load staticfiles %}

{% block title %}
Calculations 
{% endblock %}

{% block extra_head %}
 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>

{% endblock %}

{% block content %}
<h1>Calculations:</h1>

{%regroup object_list by scheme as calc_list %}

<ul>
{% for scheme in calc_list  %}
    <li>{{scheme.grouper}}
        <ul>
            {% for item in scheme.list %}
                <li><a href="{%url "calc" item.id%}">{{item}}</a> <span class="{{item.show_status}}">{{item.show_status}}</span></li>
            {%endfor%}
        </ul>
    </li>
{%endfor%}
</ul>

{% comment %}
{%for calc in object_list %}
<li> <a href="{%url "calc" calc.id %}">{{calc}}</a></li>
{%endfor %} 

{%endcomment%}
{% endblock %}
{% block navid%}Calculations{% endblock %}
{% block js_code%}
{#empty block to wipe out code, sign in dropdown code#} 
{% endblock %}
