{% extends "crosser_frontend/base_site.html"%}
{% load staticfiles %}


{% block title %}
Home
{% endblock %}


{% block content %} 

{% for message in messages %}
<div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
    <p>{{ message }}</p>
</div>
{% endfor %} 


<div class="row">
<div class="span8">

<h1 class="index-title">Hello!</h1>

<p>Welcome to Crosser a program to explore plant breeding strategies. The user enters the donor plants and a crossing scheme, and Crosser calculates the proportion of the genome that comes from the recombinant parent, and the number of offspring that need to be tested to give a 95% chance of having 5 plants with the desired traits.</p>

<p>Crosser deals with averages, so the outputs are of the average situation. In real life, there is of course a range of possible outcomes around this.</p>

<p class="text-error">Users of the program need to <strong>sign up</strong> for an account above and then contact the Trust Secretary or Deputy Trust Secretary with their user name for the account to be authorized before they can create and edit crosses. Guest users can view crosses and their outputs to the right.</p>


<p>Crosser is open source software built and maintained by the Kirkhouse Trust.  You can find a copy of the crosser source code on Git Hub.</p>

</div>
<div class="span4">
<h1>&nbsp;</h1>
<ul>
<li>Cross1</li>
<li>Cross2</li>
<li>Cross3</li>
<li>Cross4</li>
<li>Cross5</li>
</ul>
</div>
</div>

{% endblock %}


{% block js_ready %}


{% endblock %}
