{% extends "crosser_frontend/base_site.html"%}

{% block title %}
My Crosses 
{% endblock %}

{% block content %}
<h1>My Crosses</h1>
<p>
<a href="" class="btn btn-primary">Create Cross Plan</a>
</p>
{% if plan_list %}
    <ul>
    {% for plan in plan_list %}
        <li><a href="{%url 'cross_detail' plan.id%}">{{ plan }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Trip plans are available.</p>
{% endif %}

<h1>Public Crosses</h1>
{% endblock %}

{% block navid%}plans{% endblock %}
