{% extends "crosser_frontend/base_site.html"%}
{% load staticfiles %}

{% block title %}
Cross Scheme: {{scheme.name}}
{% endblock %}

{% block extra_head %}
 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>

<script src='{% static "crosser_frontend/filters.js" %}'></script>
<script src='{% static "crosser_frontend/schemeRes.js" %}'></script>
<script src='{% static "crosser_frontend/scheme.js" %}'></script>

{% endblock %}

{% block content %}
<div ng-app="scheme">
<div ng:hide="true">{% csrf_token %}</div>
<div ng-controller="PlanCtrl">

<h1> Cross Scheme: </h1>
<input type="text" ng-model="scheme.name" placeholder="Plan Name Here"/> 
<label>Species:</label>
<select ng-model="scheme.species" ng-options="spec.resource_uri as spec.name for spec in species.objects" >
</select>
 
<hr>
<h1> Plants:</h1>
<div ng:repeat="plant in scheme.plants">
<b>Name:</b> <input type="text" ng-model="plant.name" placeholder="Plant Name Here"/>
<h4>Loci</h4> 

<table ng:hide="plant.loci.length == 0" class="table table-condensed">
<thead>
<tr>
    <th>Name:</th>
    <th>Type:</th>
    <th>LinkageGroup:</th>
    <th>Position:</th>
    <th></th>
</tr>
</thead>
<tr ng:repeat="l in plant.loci">
    <td><input type="text" ng-model="l.name" placeholder="Loci Name"></td>
    <td>
        <select ng-model="l.locus_type">
            <option value="Tr">Trait</option>
            <option value="Ma">Marker</option>
        </select>
    </td>
    <td><input type="text" ng-model="l.linkage_group"></td>
    <td><input type="text" ng-model="l.position"></td>
    <td>
        <a class="btn btn-danger" ng-click="removeItem(l, plant.loci)" >
            <i class="icon-trash icon-white"></i>
        </a>
    </td>
</tr>
</table>
<button class="btn" ng-click="addLocus(plant)"><i class="icon-plus"></i>Add</button>
<hr>
</div>
<h1> Crosses:</h1>
<table class="table table-condensed">
<thead>
<tr>
    <th>L Parent:</th>
    <th>R Parent:</th>
    <th>Name:</th> 
    <th>Protocol Zygosity:</th>
    <th>Loci</th>
    <th></th>
</tr>
</thead>

<tr ng:repeat="c in scheme.crosses">
    <td>
        <select ng-model="c.left_parent" 
                ng-options="item.resource_uri as item.name
                            group by item.type
                            for item in parents | parents: c.resource_uri">
        </select>
    </td>
    <td>
        <select ng-model="c.right_parent" 
                ng-options="item.resource_uri as item.name 
                            group by item.type
                            for item in parents | parents: c.resource_uri">
        </select>
    </td>
    <td><input type="text" ng-model="c.name" placeholder="Cross Name"></td>
    <td>
        <select ng-model="c.protocol_zygosity">
            <option value="He">Heterozygous</option>
            <option value="Ho">Homozygous</option>
        </select>

    <td> 
        <span ng:repeat="l in c.loci" type="text">{[{scheme|loci:l}]} </span>
    </td>
    <td>
        <a class="btn btn-danger" ng-click="removeItem(c, scheme.crosses);
                                            removeItem(c, parents)" >
            <i class="icon-trash icon-white"></i>
        </a>
    </td>
</tr>
</table>
<button class="btn" ng-click="addCross(scheme)"><i class="icon-plus"></i>Add</button>
<button class="btn btn-primary" ng-click="updateScheme(scheme, to_del)">Save Scheme</button>
</div>
</div>
{% endblock %}
{% block navid%}crosses{% endblock %}

