{% extends "crosser_frontend/base_site.html"%}
{% load staticfiles %}

{% block title %}
Crosser | Edit Scheme 
{% endblock %}

{% block extra_head %}
 <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.4.0/ui-bootstrap-tpls.min.js"></script>

<script src='{% static "crosser_frontend/filters.js" %}'></script>
<script src='{% static "crosser_frontend/schemeRes.js" %}'></script>
<script src='{% static "crosser_frontend/scheme.js" %}'></script>

{% endblock %}

{% block content %}
<div ng:app="scheme">
<div ng:hide="true">{% csrf_token %}</div>
<div ng:hide="true"><input type='hidden' name='userid' value='{{ user.id }}'/></div>
<div ng:controller="PlanCtrl">
<form name="scheme_form" novalidate>
<h1 class="inline-h">Edit Scheme: </h1> <input name="name" type="text" ng:model="scheme.name" placeholder="Scheme Name" required/> 
<div id="config-title"><h1 id="config-title">Config:</h1></div>
<div id="config-list">
<label>Species:</label>
<select name="species" ng:model="scheme.species" ng:options="spec.resource_uri as spec.name for spec in species.objects" required>
</select>

<label>Simulation Resolution:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Simulation Granularity. </a></li>
        </ul>   
        </div> 
</label>
<div> </div>
<select ng:model="quality.state" ng:options="qual.id as qual.name for qual in quality.opts" ng:click="set_quality(quality.state)">
</select>
<div id="advanced" ng:hide="quality.state != -1 ">
<label>Chunk Size:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Chunk Size. </a></li>
        </ul>   
        </div> 
</label>
<input name="conv_chunk_size" type="text" ng:model="scheme.system.convergence_chunk_size" required ng:disabled="quality.state != -1"/>
<label>Tolerance:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Tolerance. </a></li>
        </ul>   
        </div> 
</label>
<input name="conv_tolerance" type="text" ng:model="scheme.system.convergence_tolerance" required ng:disabled="quality.state != -1"/>
<label>Fewest Plants:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Fewest Plants. </a></li>
        </ul>   
        </div> 
</label>
<input name="fewest_plants" type="text" ng:model="scheme.system.convergence_fewest_plants" required ng:disabled="quality.state != -1"/>
</div><!--id="advanced"-->
</div><!-- id="config-list"-->


<div id="plant-title"><h1 id="plant-title">Parents:</h1></div>
<div id="plant-list">
<div class="plant" ng:repeat="plant in scheme.plants | orderBy : 'id'">
<div class="form-horizontal">
<h4 class="inline-h">Parent Name:</h4> <input type="text" ng:change="change_plant(plant)" ng:model="plant.name" placeholder="eg SN02, Phg2" required/>

<!--<b>Pref Var:</b> <input name="pv" ng:model="scheme.pref_var" value="{[{plant.resource_uri}]}" type="radio">-->
        <div class="pull-right">
        <a class="btn btn-danger" ng:click="remove_plant(plant)" >
            <i class="icon-trash icon-white"></i>
        </a>
        </div>
  </div>
<div class="loci-title"><h4 class="loci-title">Loci:</h4></div>
<div class="loci-list">
<!--table ng:hide="plant.loci.length == 0"--> <table class="table table-condensed loci-table">
<thead>
<tr>
    <th>Name:</th>
    <th>Type:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Loci type.  </a></li>
        </ul>   
        </div> 
</th>
    <th>Linkage Group / Chromosome:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Linkage Group. </a></li>
        </ul>   
        </div> 
</th>
    <th>Position:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Position. </a></li>
        </ul>   
        </div> 
</th>
    <th></th>
</tr>
</thead>

<tr ng:repeat="l in plant.loci | orderBy : 'id'">
    <td><input type="text" ng:model="l.name" placeholder="Locus Name" required> </td>
    <td>
        <select ng:model="l.locus_type">
            <option value="Tr">Trait</option>
            <option value="Ma">Marker</option>
        </select>
    </td>
    <td> <input ng:model="l.linkage_group" type="number" placeholder="1-{[{get_max_link_group()}]}" min="1" max="{[{get_max_link_group()}]}" required>
    </td>
    <td>
        <input ng:model="l.position" type="number" placeholder="1-{[{get_max_position(l.linkage_group)}]}" min="1" max="{[{get_max_position(l.linkage_group)}]}" required>

    </td>
    <td>
        <a class="btn btn-danger" ng:click="remove_locus(l, plant)" >
            <i class="icon-trash icon-white"></i>
        </a>
    </td>
</tr>
<tr><td>
<button class="btn btn-info" ng:click="add_locus(plant)"><i class="icon-plus"></i>Add Locus</button>
</td><td></td><td></td><td></td><td></td></tr>
</table>
</div><!-- class="loci-list"-->
</div><!-- plant -->
<div class="plant">
<button class="btn btn-info" ng:click="add_plant(scheme)"><i class="icon-plus"></i>Add Parent</button>
</div>
</div><!-- plant-list-->


<div id="cross-title"> <h1 id="cross-title">Crosses:</h1></div>
<div id="cross-list">
<table class="table table-condensed cross-table"> <!-- ng:hide="scheme.crosses.length == 0">-->
<thead>
<tr>
    <th>Name:</th> 
    <th>L Parent:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Left Parent. </a></li>
        </ul>   
        </div> 
</th>
    <th>R Parent:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Right Parent. </a></li>
        </ul>   
        </div> 
</th>
    <th>Selection Zygosity:
        <div class="inline-div dropdown">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Protocol Zygosity. </a></li>
        </ul>   
        </div>
</th>
    <th>Loci To Select For:</th>
    <th></th>
</tr>
</thead>

<tr ng:repeat="c in scheme.crosses | orderBy : 'id'">
    <td><input type="text" ng:change="change_cross(c)" ng:model="c.name" placeholder="Cross Name" class="small-drop" required></td>
    <td class="ng-binding">
        <select ng:model="cross_data[c.resource_uri].left_parent" 
                ng:change="change_left_parent(c)"
                ng:options="item.resource_uri as item.name
                            group by item.type
                            for item in poss_parents | parents: c.resource_uri : cross_data[c.resource_uri].descendants | orderBy: 'resource_uri'"
                class="small-drop" required>
        </select>
    </td>
    <td class="ng-binding"> 
        <select ng:model="cross_data[c.resource_uri].right_parent" 
                ng:change="change_right_parent(c)"
                ng:options="item.resource_uri as item.name 
                            group by item.type
                            for item in poss_parents | parents: c.resource_uri : cross_data[c.resource_uri].descendants | orderBy: 'resource_uri'"
                class="small-drop" required>
        </select>
    </td>
    <td>
        <select ng:model="c.protocol_zygosity" class="small-drop" required>
            <option value="He">Heterozygous</option>
            <option value="Ho">Homozygous</option>
        </select>

    <td>
        <span ng:repeat="l in c.loci" type="text">
        <span class="badge badge-important"> {[{get_locus_by_uri(l).name}]} <i class="icon-remove icon-white" ng:click="remove_cross_locus(c, l)"></i>
        </span>
        &nbsp;
        </span>
        <div class="dropdown" style="margin-top:1px;">
        <a class="dropdown-toggle badge badge-info">Add<i class="icon-plus icon-white"></i></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <rep ng:repeat="p in cross_data[c.resource_uri].ancestors">
            <li ng:repeat="l in p.loci | without_loci: c.loci | orderBy: 'id'"><a ng:click="c.loci.push(l.resource_uri)">{[{l.name}]}</a></li>
            </rep>
            <rep><li><a ng:click="add_all_cross_loci(c)">Add All</a></li></rep>
        </ul>   
        </div> 
    </td>
    <td>
        <a class="btn btn-danger" ng:click="remove_cross(c)" >
            <i class="icon-trash icon-white"></i>
        </a>
    </td>
</tr>
<tr>
<td>
<button class="btn btn-info" ng:click="add_cross(scheme)"><i class="icon-plus"></i>Add Cross</button>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

</tr>
</table>
</div><!-- id="cross-list"-->

<div id="chart-title"><h1 id="chart-title">Charts:</h1></div>
<div id="chart-list">
<div class="chart" ng:repeat="o in scheme.outputs">
  <div class="chart-head">
  <h4 class="inline-h">Chart #{[{$index + 1}]} </h4>
      <div class="pull-right">
        <a class="btn btn-danger" ng:click="remove_output(o)" >
            <i class="icon-trash icon-white"></i>
        </a>
      </div>
  </div>
  <div class="chart-type">
  <select ng:model="output_data[o.resource_uri].output_type"
          ng:change="change_output_type(o)" class="small-drop" required>
    <option value="mean_cross_composition">Mean Cross Composition</option>
    <option value="success_table">Success Table</option>
    <option value="loci_composition">Loci Composition</option>
    <option value="proportion_distribution">Proportion Distribution</option>
    <option value="Cm">Custom</option>
  </select>


        <div class="inline-div dropdown" ng:hide="output_data[o.resource_uri].output_type != 'mean_cross_composition'">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Mean Cross Composition.</a></li>
        </ul>   
        </div>
        <div class="inline-div dropdown" ng:hide="output_data[o.resource_uri].output_type != 'success_table'">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Success Table.</a></li>
        </ul>   
        </div>
        <div class="inline-div dropdown" ng:hide="output_data[o.resource_uri].output_type != 'loci_composition'">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Loci Composition.</a></li>
        </ul>   
        </div>
        <div class="inline-div dropdown" ng:hide="output_data[o.resource_uri].output_type != 'proportion_distribution'">
        <a class="dropdown-toggle ">
            <i class="icon-info-sign"></i>
        </a>
        <ul class="dropdown-menu" role="note" aria-labelledby="dLabel">
            <li><a>TODO: Make this box explain Proportion Disribution.</a></li>
        </ul>   
        </div>




   
  </div> <!-- class="chart-type"-->
  <div class="chart-data">
  <span ng:hide="output_data[o.resource_uri].output_type != 'mean_cross_composition'">
            <select multiple ng:model="output_data[o.resource_uri].data"
                    ng:change="change_output_data(o)"
                    ng:options="item.name as item.name
                            for item in scheme.crosses | orderBy: 'id'"> </select>
    <br/>
    (CTRL-Click to select multiple crosses)
  </span>
  <span ng:hide="output_data[o.resource_uri].output_type != 'loci_composition'">
    Cross: 
    <select ng:model="output_data[o.resource_uri].cross"
            ng:change="change_output_data(o)"
            ng:options="item.name as item.name
              for item in scheme.crosses | orderBy: 'id'"> </select>
  </span>
  <span ng:hide="output_data[o.resource_uri].output_type != 'proportion_distribution'">
    Donor: 
    <select ng:model="output_data[o.resource_uri].donor"
            ng:change="change_output_data(o)"
            ng:options="item.name as item.name
              for item in scheme.plants | orderBy: 'id'"> </select> 
            Cross: 
    <select ng:model="output_data[o.resource_uri].cross"
            ng:change="change_output_data(o)"
            ng:options="item.name as item.name
              for item in scheme.crosses | orderBy: 'id'"> </select>
 

  </span>
<span ng:hide="output_data[o.resource_uri].output_type != 'success_table'">
    <table class="table table-condensed cross-table"> 
    <thead>
    <tr>
    <th>Cross:</th> 
    <th>Number Required:</th>
    <th>Confidence:</th>
    <th></th>
    </tr>
    </thead>

    <tr ng:repeat="c in output_data[o.resource_uri].require" >
    <td class="ng-binding">
      <select ng:model="c.cross"
                ng:change="change_output_data(o)"
                ng:options="item.name as item.name
                            for item in scheme.crosses | orderBy: 'id'" required> 
      </select>
    </td>
    <td> <input ng:change="change_output_data(o)" ng:model="c.quantity" type="number" placeholder="20"
                min="1" step="1" required>
    </td>
    <td> <input ng:change="change_output_data(o)" ng:model="c.confidence" type="number" placeholder="0.9" 
                  step="any" min="0" max="1" required>
    </td>
    <td>
      <a class="btn btn-danger" ng:click="remove_success_table_cross(o, c)" >
        <i class="icon-trash icon-white"></i>
      </a>
    </td>
  </tr>
  <tr>
  <td>
  <button class="btn btn-info" ng:click="add_required(o)"><i class="icon-plus"></i>Add Cross</button>
  </td>
  <td></td>
  <td></td>
  <td></td>

  </tr>
  </table>


  </span>

  <span ng:hide="output_data[o.resource_uri].output_type != 'Cm'">
    Type:
    <input type="text" ng:model="o.output_type"/>
    Data:     
    <input type="text" ng:model="o.data" placeholder="Output Data"/> 
  </span>
</div><!-- class="chart-data"-->
</div><!-- class="chart" -->
<div class="chart">
<button class="btn btn-info" ng:click="add_output(scheme)"><i class="icon-plus"></i>Add Chart</button>
</div>
</div><!-- id="chart-list"-->

<br/>
<br/>
<button class="btn btn-primary" ng:click="scheme_update(scheme)">Save Scheme</button>
<br/>
<br/>
<button class="btn btn-primary" ng:click="process_scheme('{%url "process" scheme.id%}')">Save &amp; Process Scheme</a>

</form>
</div>
</div>
{% endblock %}
{% block navid%}crosses{% endblock %}
{% block js_code%}{#empty block to wipe out code#} 
{% endblock %}

